<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <center>
        <h1> Create New Product </h1>
        <fieldset style="max-width: max-content;">
            <legend>Product's descriptions</legend>
            <form method="post" enctype="multipart/form-data">
                <div style="margin-bottom: 15px;">
                    <label for=""> Title </label>
                    <input type="text" name="title" />
                </div>
                <div style="margin-bottom: 15px;">
                    <label for=""> Price </label>
                    <input type="number" name="price" />
                </div>
                <div style="margin-bottom: 15px;">
                    <label for=""> description </label>
                    <textarea name="description" id="" cols="30" rows="10"></textarea>
                </div>
                <div style="margin-bottom: 15px;">
                    <label for=""> Stock </label>
                    <input type="number" name="stock" />
                </div>
                <div style="margin-bottom: 15px;">
                    <label for=""> Image </label>
                    <input type="file" name="tumbnail" />
                </div>
                <div style="margin-bottom: 15px;">
                    <input type="submit" value="Create" />
                </div>


            </form>
        </fieldset>
    </center>

</body>
</html>